.PortMainContainer{
    width: 94.2vw;
    height: auto;
    margin-left: 5rem;
    background-color: black;
    color: black;
    padding-top: 5%;
}
.H1Portfolio{
    margin: 0px;
    color: white;
    text-align: center;
    padding-top: 3%;
    font-size: 40px;
}
.H1PortfolioBox{
    margin: auto;
    background-color: teal;
    width: 95%;
    height: 15vh;
    border-radius:  50px 50px 0px 0px;
}
.CardSection{
    padding-top: 0%;
    margin: auto;
    width: 95%;
    height: auto;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.CardMaincontainer{
    width:45%;
    background-color: teal;
    height:40vh;
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    margin-bottom: 3%;
    border: solid black 5px;
    border-radius: 50px;
}
.IMGInfoContainer{
    display: flex;
    flex-direction: row;
    height:100%;
    border-radius:  50px 50px 50px 50px;
}
.CardIMG{
    width: 70%;
    height: 100%;
}
.CardIMG img{
    width:100%;
    height:100% ;
    border-radius:  0px 50px 50px 0px;
}
.CardInfo{
    width: 30%;
    height:100% ;
    background-color: white;
    border-radius:  50px 0px 0px 50px;
    
}
.CardInfo h2{
    margin-top: 0px;
    height: 25%;
    background-color: teal;
    text-align: center;
    font-size: 22px;
    color: white;
    padding-top: 10%;
    border-radius:  50px 0px 0px 0px;
}
.CardInfo h4{
    font-size: 18px;
    text-align: center;
}
.CardInfo p{
    text-align: center;
    height:25%;
}
.SlideImage{
    width: 100%;
}
.CardButtonBox{
    height:21%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.LaunchButton{
    width: 40%;
    border-radius: 50px;
    background-color: teal;
    font-size: small;
    cursor: pointer;
    color: white;
    text-align: center;
    margin:auto;
    text-decoration: none;
}
.SliderSetting{
    padding-top: 6%;
    height: 40vh;
    background-color: white;
    border-radius: 0px 50px 50px 0px;
}
@media only screen and (max-width: 600px) {
    .PortMainContainer{
        width: 100%;
        margin-left: 0rem;
    }
    .CardSection{
        display: flex;
        flex-direction: column;
    }
    .CardMaincontainer{
        margin:5% auto;
        width: 88%;
        height: 37vh;
    }
    .CardInfo h2{
        font-size: 14px;
        text-align: center;
    }
    .CardInfo h4{
        font-size: 14px;
    }
    .CardInfo p{
        font-size: 12px;
        height: 5vh;
    }
    .SliderSetting{
        padding-top: 20%;
        height: 37vh;
    }
    .SlideImage{
        height: 37vh;

    }
    .CardIMG img{
        
    }
}