.contactMaincontainer{
    background-color: black;
    width: 94.1vw;
    height: 100vh;
    margin-left: 5rem;
}   
.H1Container{
  background: linear-gradient(#FFDD00,#FBB034
  );
  width: 35.5%;
  height: 14vh;
  border-radius: 50px 50px 0px 0px;
  margin: auto;
}
.heading{
    padding-top: 2%;
    text-align: center;
    color: white;
    margin:auto;
    font-size: 40px;
  }
  .myForm {
    text-align: left;
    display: flex;
    margin:auto;
    flex-flow: column;
    width: 35%;
    height: 50vh;
    padding: 20px 0;
    border: 2px solid white;
    border-radius: 0px 0px 50px 50px;
    background-color: white;
  }
  .label--center{
    margin-left: 6%;  
    margin-right: 5%;
    color: black;
    font-size: 16px;
    width:15%;
  } 
  .name--position{
  width: 50%;
  height: 5px;
  padding: 12px 20px;
  margin: 10px 0px;
  background: white;
  border-radius: 15px;
  }
  .email--position{
  width: 50%;
  height: 20px;
  padding: 4px 20px;
  margin: 8px 0px;
  background: white;
  border-radius: 15px;
  }

  .comments--position{
  padding: 12px 20px;
  margin: 4px 0px;
  background: white;
  border-radius: 15px;
  width: 50%;
  height:15vh;
  }
  ::placeholder {
    color:gray;
  }
  .button--div{
      display: flex;
  }
  .button--item:hover {
  background-color: black;
  color: white;
  }
  .button--item{   
    text-align: center;
    color: black;
    background-color: rgb(240, 205, 6);
    margin-left: 45%;
    margin-top: 5%;
    width: 12%;

  }
.formAlignment{
    display: flex;
    flex-direction: row;
}
.errorMessage{
    padding-top: 100px;
}
.myFile{
  margin-top: 1vh;
  margin-left: 30%;
}
 
@media (max-width: 750px) {
  .myForm {
    text-align: left;
    border: none;
  }
  .myForm p {
    margin: 0;
  }
}