.HeroContainer{
    background: url('./HeroBackground.gif');
    width: 94.2vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
}
.SelfieContainer{
    margin: 3% auto;
    height:30vh;
    width:16vw;
    padding-top: 10%;
}
.SelfieIMG{
    border:solid white 5px;
    border-radius: 50%;
    height:30vh;
    width:16vw;
    margin: auto;
}

.HeroTextContainer{
    padding-top: 1%;
    color:white;
    text-align: center;
    margin:auto;
    width: 50%;
}
.h1Hero{
    font-size: 35px;
}
.h3Hero{
    text-align: left;
    font-size: 20px;
}

@media only screen and (max-width: 600px) {
    .HeroContainer{
        width:100%;
        margin-left: 0rem;
        height: 90vh;
    }
    .SelfieContainer{
        margin-top: 15%;
        height:20vh;
        width:40vw;
    }
    .SelfieIMG{
        height:20vh;
        width:40vw;
    }
    .HeroTextContainer{
        width:80%;
    }
    .h3Hero{
        width:100%;
        text-align: center;
    }
}