.FooterContainer{
    width: 94.2vw;
    height: 10vh;
    margin-left: 5rem;
    background-color: black;
}
.FooterBox{
    width: 10%;
    margin: auto;
}
.FooterIcon{
    width: 40px;
    height: 40px;
   margin-right: 15%;
   background-color: white;
   border-radius: 50px;
}