.navbar{
    width:5rem;
    height:100vh;
    position: fixed;
    background-color: navy;
}
.navbar-nav{
    list-style: none;
    padding:0;
    margin:0;
    display:flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 20vh;
}
.nav-item{
    text-align: center;
    width:100%;
    font-size: 16px;
    margin-bottom: 10vh;
    padding-left: 2rem;
    display: flex;
    flex-direction: row;
}
.nav-item:last-child{
    margin-top: auto;
}
.nav-Link{
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
}
.link-text{
    display:none;
    margin-left: 1rem;
}
.nav-link i{
    min-width: 2rem;
    margin:0 1.5rem
}
.navbar:hover{
    width: 16rem;
    border-radius: 0 100% 100% 0;
}
.navbar:hover .link-text{
    display: block;
    margin-top: 15px;
}
.link-text {
    display: none;
    margin-left: 1rem;
  }
.IconImg{
    height:50px;
    width: 50px;
}  


  